*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: linear-gradient(135deg, #ffffff, #e5e7eb);
}

/* ================= Navbar ================= */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

/* Logo */
.logo{
    display: flex;
    align-items: center;
    gap: 6px;
}

.logo h2{
    font-size: 22px;
}

/* Nav links */
.nav-links ul{
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links li{
    cursor: pointer;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-links li:hover{
    color: #2563eb;
}

/* Call button */
.call{
    padding: 10px 18px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
}

.call:hover{
    opacity: 0.9;
}

.hero {
  padding: 80px 60px;
}

/* Image container */
.hero-image-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.hero-image-container img {
  width: 100%;
  border-radius: 20px;
}

/* Overlay */
.hero-overlay {
  position: absolute;
  inset: 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.1)
  );
  color: white;
  border-radius: 20px;
}

/* Stats */
.hero-stats {
  display: flex;
  gap: 40px;
}

.hero-stats h2 {
  font-size: 32px;
  color: #60a5fa;
}

/* Text */
.hero-text h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero-text p {
  max-width: 500px;
  line-height: 1.6;
}
